/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

#include <zephyr/dt-bindings/input/input-event-codes.h>
/* Reference: https://docs.zephyrproject.org/apidoc/latest/group__input__events.html */

#include <input/processors.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
		zmk,matrix-transform = &default_transform;
    };

    kscan0: kscan_matrix {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;	
        diode-direction = "col2row";


         col-gpios
            = <&gpio0 19 GPIO_ACTIVE_HIGH>
            , <&gpio1 14 GPIO_ACTIVE_HIGH>
            , <&gpio1 1 GPIO_ACTIVE_HIGH>
            , <&gpio1 0 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&gpio0 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio1 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

	    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        rows = <5>;
        columns = <4>;
        // ┌───┬───┬───┬───┐
        // │ 7 │ 8 │ 9 │   │
        // ├───┼───┼───┼───┤
        // │ 4 │ 5 │ 6 │MCLK│
        // ├───┼───┼───┤   │
        // │ 1 │ 2 │ 3 │LCLK│
        // ├───┼───┼───┼───┤
        // │ 0 │   │enter│ │
        // ├───┴───┼───┤   │
        // │       │   │ RCLK │
        // └───────┴───┴───┘
        map = <
            RC(0,0) RC(0,1) RC(0,2)  
            RC(1,0) RC(1,1) RC(1,2) RC(1,3)
            RC(2,0) RC(2,1) RC(2,2) RC(2,3)
            RC(3,0)         RC(3,2)
                                    RC(4,3)
        >;
    };

    kscan1: kscan_joystick_button {
		compatible = "zmk,kscan-gpio-direct";
		wakeup-source;
		toggle-mode;
		input-gpios = <&gpio1 11 GPIO_ACTIVE_HIGH>
		;
	};

	left_encoder: encoder_left {
		compatible = "alps,ec11";
		label = "encoder";
		a-gpios = <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		b-gpios = <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
		steps = <15>;
		status = "okay";
	};

	sensors: encoder_sensors {
		compatible = "zmk,keymap-sensors";
		sensors = <&left_encoder>;
		triggers-per-rotation = <30>;
	};

	
	joystick_listener {
		compatible = "zmk,input-listener";
		device = <&anin0>;
	};
	
};

&adc {
	status = "okay";
};


&gpio0 {
    status = "okay";
};

&gpio1 {
    status = "okay";
};


/ {
	anin0: analog_input_0 {
		compatible = "zmk,analog-input";
		sampling-hz = <100>;
		x-ch {
			io-channels = <&adc 0>;
			mv-mid = <100>;
			mv-min-max = <30>;
			mv-deadzone = <50>;
			scale-multiplier = <1>;
			scale-divisor = <1>;
			invert;
			evt-type = <INPUT_EV_REL>;
			input-code = <INPUT_REL_X>;
		};
		y-ch {
			io-channels = <&adc 1>;
			mv-mid = <100>;
			mv-min-max = <30>;
			mv-deadzone = <50>;
			scale-multiplier = <1>;
			scale-divisor = <1>;
			invert;
			evt-type = <INPUT_EV_REL>;
			input-code = <INPUT_REL_Y>;
			report-on-change-only;

		};
	};
};

