/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
// #include "Ed1tor50_drawer/base.dtsi"

// ZMK Core Includes
#include <behaviors.dtsi>
#include <behaviors/num_word.dtsi> // requires https://github.com/urob/zmk-auto-layer module
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/ext_power_4ch.dtsi>
#include <dt-bindings/zmk/ext_power_4ch.h>


// Layers
#define L1 0







/ {
  macros {

    onoffext0: onoff_ext0 {
      wait-ms = <0>;
      tap-ms = <0>;
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = 
        <&macro_press>,
        <&macro_tap &ext_power_4ch EP4CH_CH0_ON>,  /* CH0 ON */
        <&macro_pause_for_release>,
        <&macro_release>,
        <&macro_tap &ext_power_4ch EP4CH_CH0_OFF>;  /* CH0 OFF */
    };

      onoffext1: onoff_ext1 {
      wait-ms = <0>;
      tap-ms = <0>;
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      bindings = 
        <&macro_press>,
        <&macro_tap &ext_power_4ch EP4CH_CH1_ON>,  /* CH1 ON */
        <&macro_pause_for_release>,
        <&macro_release>,
        <&macro_tap &ext_power_4ch EP4CH_CH1_OFF>;  /* CH1 OFF */
    };

    }; 

}; 




/ {
  keymap {
    compatible = "zmk,keymap";

    qwerty_layer {
      display-name = "L1";
      bindings = <

 &onoffext0 &onoffext1

/**
//                                                 ╰───────────────┴───────────────┴───────────────╯                                   ╰───────────────┴───────────────┴───────────────╯*/
      >;
      sensor-bindings = <&rgb_encoder>, <&volknob>;
    };



  };
};