/**
 * Alpha Layer - QWERTY
 */

/ {
  keymap {
    compatible = "zmk,keymap";

    qwerty {
      display-name = "L1";
      bindings = <

    &kp ESC         &kp Q           &kp W           &kp E           &kp R           &kp T                                               &kp Y           &kp U           &kp I           &kp O           &kp P           &kp K_CANCEL

    &bkspc_del      &kp A           &hrml LCTRL S   &hrml LALT D    &hrml LCMD F    &hrml MEH G                                         &hrmr MEH H     &hrmr LCMD J    &hrmr LALT K    &hrmr LCTRL L   &kp SQT         &kp ENTER

    &csl Fn         &kp Z           &kp X           &kp C           &kp V           &kp B           &mkp LCLK                &mkp RCLK  &kp N           &kp M           &kp COMMA       &kp DOT         &kp SEMICOLON   &csl Fn

    &kp ESC         &kp ESC                         &kp TAB         &mt LSHFT SPACE &smart_num L2 0              &mkp MB4               &smart_num L2 0 &smart_shift    &kp GRAVE                       &kp ESC         &kp ESC
      >;
    };
  };
};
